
*{
  margin: 0px;
  padding: 0px;
}


.App {
  min-height: 100vh;
  /* width: 100vw; */
  background: rgb(36, 36, 36)
/* width: 100vw; */


  
}
.BgImage{

  min-height: 90vh;
  max-width: 100vw;
  overflow: hidden;
  /* background: url("../../../public/assets/images/astronaut.png") no-repeat center
    center fixed; */
    
    /* background: rgb(36,0,9);
    background: linear-gradient(180deg, rgba(36,0,9,1) 42%, rgba(54,25,39,1) 73%, rgba(80,19,44,1) 100%); */
    /* background: url("../../../public/assets/images/bgspace.jpg") no-repeat center */
    background: url("./images/bgspace.jpg") no-repeat center
    center fixed;
    background-position: right 40% bottom 90%;
}
.BgWindow{
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;

  color: white;
  letter-spacing: 0px;

  /* background: url("./bgp.jpg")no-repeat center center fixed; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: 10;
  /* border-image-source: url(../../../public/assets/images/eww.png); */
  border-image-source: url('./images/eww.png');
  /* border-image-source: url(/whitespace.png); */
  border-image-slice: 212;
  border-image-width: 200px;
  border-image-outset: 0;
  border-image-repeat: none;
  border-style: solid;
  margin-top: -6px;
  position: relative;
  padding: 0rem 0.5rem 0rem;
  /* min-height: 90vh; */
  /* animation: eventpage 2s ease-in-out infinite; */
  animation: BgWindow 7s ease-in-out infinite;
}

@keyframes BgWindow {
  0% {
    transform: translateY(-3px);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(-3px);
  }
}