@import url("https://fonts.googleapis.com/css2?family=Rajdhani&display=swap");
@font-face {
  font-family: "SolThin";
  src: url("../public/assets/font/solthinregular.ttf");
}

*{
    font-family: "SolThin", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

::-webkit-scrollbar {
  width: 3px;
}

/* ::-webkit-scrollbar-track {
  background-color: #090a0f;
} */

::-webkit-scrollbar-thumb {
  background-color: rgb(128, 128, 128);
}

body{
 
    /* color: azure; */

}

 .btnnew{
  background: purple;
  border: 2px solid rgb(97, 9, 97);
  padding: 5px 5px;
}