.payment-qr-code{
    height: 150px;
    width : 150px;
    vertical-align: top;
display: inline-block;
text-align: center;
}



.payment{
    /* background-color: #fff; */
    color: #fff;
    /* background-color: aqua; */
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.payment {
  overflow-y: hidden;
  padding-top: 4vh;
  /* padding-bottom: 13vh; */
}

.pay-section{
 height: 250px;
  overflow-x: hidden;
}



.payment .title{
  margin-bottom: 5vh;

}
.payment .card{
  margin: 20px auto;
  color: #fff;
  max-width: 1000px;
  width: 80vw;
  /* max-height: 400px; */
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 1rem;
  border: transparent;
}

.payment .cart{
  background-color: rgb(82, 28, 82);
  padding: 4vh 5vh;
  /* border-bottom-left-radius: 1rem;
  border-top-left-radius: 1rem; */
}

.payment .summary{
  background-color: rgb(61, 6, 61);
  /* border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem; */
  padding: 5vh;
  vertical-align: top;
    display: inline-block;
    text-align: center;
}



.payment .summary .col-2{
  padding: 0;
}
.payment .summary .col-10
{
  padding: 0;
}.payment .row{
  /* max-height: 600px; */
  margin: 0;
 
}
.payment .title b{
  font-size: 1.5rem;
}
.payment .main{
  margin: 0;
  padding: 2vh 0;
  width: 100%;
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
}
.payment .col-2, .col{
  padding: 0 1vh;
  
}
/* .payment a{
  padding: 0 1vh;
} */

/* img{
  width: 3.5rem;
} */
.payment .back-to-shop{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}

.payment .back-to-shop button{
  background: purple;
  border: 2px solid rgb(97, 9, 97);
  padding: 5px 5px;
}
.payment h5{
  margin-top: 4vh;
}
.payment hr{
  margin-top: 1.25rem;
}
.payment form{
  padding: 2vh 0;
}
.payment select{
  border: 1px solid rgba(0, 0, 0, 0.137);
  padding: 1.5vh 1vh;
  margin-bottom: 4vh;
  outline: none;
  width: 100%;
  background-color: rgb(247, 247, 247);
}
.payment input{
  border: 3px solid rgba(0, 0, 0, 0.137);
  padding: 1vh;
  margin-top: 2vh;
  margin-bottom: 2vh;
  outline: none;
  width: 100%;
  background-color: transparent;
}
.payment input:focus::-webkit-input-placeholder
{
    /* color:transparent; */
}
.payment .btn{
  background: purple;
    border: 2px solid rgb(97, 9, 97);

  color: white;
  width: 100%;
  font-size: 0.7rem;
  margin-top: 4vh;
  padding: 1vh;
  border-radius: 0;
}
/* .payment .btn:focus{
  
  box-shadow: none;
  outline: none;
  box-shadow: none;
  color: black;
  -webkit-box-shadow: none;
  -webkit-user-select: none;
  transition: none; 
} */
.payment .btn:hover{
  /* color: white; */
}
.payment .back-to-shop a{
  color: #fff; 
  text-decoration: none;
}
.payment .back-to-shop a:hover{
  color: #fff;
  text-decoration: none;
}
.payment #code{
  /* background-image: linear-gradient(to left, rgba(255, 255, 255, 0.253) , rgba(255, 255, 255, 0.185)), url("https://img.icons8.com/small/16/000000/long-arrow-right.png");
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: center; */
}

.payment-link{
    text-decoration-line: underline;
    --tw-text-opacity: 1;
    color: rgb(99 102 241/var(--tw-text-opacity));
    font-weight: 600;
    font-size: .875rem;
    line-height: 1.25rem;
    padding-top: 5%;
    /* padding-left: 28px; */
    /* vertical-align: top; */
    display: block;
    text-align: center;
}

.payment-rules {
    line-height: 1.6;
    color: #636b6f;
    font-size: 1.15rem;
    margin: 0;
    font-weight: 500;
    font-family: "DM Sans", sans-serif;
}

.payment-links{
    margin: auto;
  width: 100%;
  /* border: 3px solid green; */
  padding: 5px;
  margin-right: 80px;

}
.pay-method{
  /* filter: brightness(1.4); */
  border-radius: 50%;
  /* height: 40px;
  width: 40px; */
  cursor: pointer;
}
.pay-active{
  box-shadow: 0 0 2px 2px #3f9fdf;
}
.pay-modal{
  color: #fff;
/* display: flex;
flex-direction: column;
justify-content: center;
align-items: center; */width: 45vw;
height: 50vh;
padding: 10%;
background-color: #241723;
}
.pmodalbody{
  display: flex;
justify-content: center;
align-items: center;
  flex-direction: column;
  height: auto;
}
.pmodalbody p{
  font-size: 17px;
letter-spacing: 2.5px;
color: #6dc5ff;
/* margin: 1px; */
}
.pmodalclose {
  position: absolute;
  margin: 6px 25px;
  right: 0;
  top: 0;
}

@media(max-width:800px){
  .payment{
    padding-top: 2vh;
  }
  .pay-modal{
    width:80vw;
  }
  .payment .card{
    margin: 6vh auto;
    height: 73vh;
    overflow: scroll;
  }
  .payment-rules{
    font-size: 1rem;
  }
  .pay-list{
    font-size: 0.9rem;
margin-left: -15%;
margin-right: -15%;
overflow-x: hidden;
  }
}
@media(max-width:767px){
  .payment .summary{
  /* border-top-right-radius: unset;
  border-bottom-left-radius: 1rem; */
  width: fit-content;
display: block;
text-align: center;
  }
}
@media(max-width:767px){
  .payment .cart{
      padding: 4vh;
      /* border-bottom-left-radius: unset;
      border-top-right-radius: 1rem; */
  }
}