/* .user{
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.user button{
    background-color: #9d0f9d;
    color: #fff;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.16);
}

.user input{
    color: black;
} */

/* 
* {
    box-sizing: border-box;
  }
  
  .App {
    width: 70vh;
    margin: 5rem auto;
    display: flex;
    justify-content: space-between;
  } */

   /* .members{
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}


.members .form-field {
    flex: 2;
  }
  .members  .output {
    color: aliceblue;
    margin-left: 3rem;
    flex: 1;
  }
  .members  .form-field label,
  .members h2 {
    margin: 0;
    font-size: 18px;
    font-weight: 500;
    color: white;
  }
  
  .members  input {
    height: 35px;
    width: 100%;
    padding: 7px;
    outline: none;
    border-radius: 5px;
    color: black;
    border: 1px solid rgb(220, 220, 220);
  }
  
  .members input:focus {
    border: 1px solid rgb(0, 208, 255);
  }
  
  .members .services {
    display: flex;
    justify-content: space-between;
  }
  .members .first-division {
    display: flex;
    flex-direction: column;
    margin: 0 5px 0.5rem 0;
    width: 100%;
  }
  .members  button {
    background: none;
    outline: none;
    cursor: pointer;
    font-weight: 500;
    border-radius: 2px;
    padding: 5px 10px;
  }
  .members .first-division button {
    align-self: flex-start;
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
    color: rgb(0, 208, 255);
    border: 1px solid rgb(0, 208, 255);
  }
  
  .members .second-division button {
    color: red;
    border: 1px solid red;
  } */