
.name {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  vertical-align: middle;
  z-index: 101;
  height: 100vh;
  font-size: 3.5rem;
  background-image: url("../../images/about-bg.jpeg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 0;
}

/* ::-webkit-scrollbar {
  display: none;
} */

.name h1{
  font-size: 100px;
}


@media only screen and (max-width: 767px) {
  .comming .name h1 {
    font-size: 50px;
    text-align: center;
  }
  .comming .name {
    background-size: auto;
    background-position: center;
    background-size: cover;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .comming .name h1 {
    font-size: 50px;
  }
  .comming .name {
    background-size: auto;
    background-position: center;
    background-size: cover;
  }
}
@media only screen and (max-width: 320px) {
  .comming .name h1 {
    font-size: 55px;
  }
  .comming .name {
    background-size: auto;
    background-position: center;
    background-size: cover;
    height: 50vh;
  }
}
