/* * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
  body {
    height: 100vh;
    overflow: scroll;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 1.7em;
  } */
  .profile-desktop{
    padding-top: 1%;
  }
  .dektop-profile{
    /* margin: 0px;
    padding: 0px; */
    box-sizing: border-box;
    height: 100vh;
    overflow: hidden;
    /* font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"; */
    /* font-size: 1.7em; */
    /* padding-top: 80px; */
    /* max-width: fit-content; */
	 /* margin: 50px 0 50px; */
	 /* overflow-y: auto; */
	 /* position: relative;
	 z-index: 1; */
	 /* overflow-x: hidden; */
	 background-color: #0d1825;
	 /* display: flex; */
	 transition: 0.3s;
	 /* flex-direction: column; */
	 border-radius: 10px;
	 box-shadow: 0 0 0 5px #d700c1;
   /* margin: 0px;
padding: 0px;
  padding-top: 0px; */
box-sizing: border-box;
height: 75vh;
overflow: hidden;
/* padding-top: 80px; */
background-color: #180718;
border-color: darkcyan;
transition: 0.3s;
border-radius: 10px;
/* box-shadow: 0 0 0 8px rgba(255, 255, 255, 0.2); */
width: 75%;
margin-left: 12%;
margin-right: 12%;
/* padding-top: 10%;
margin-top: auto;
padding: unset; */
  }
  .tickets{
    display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  overflow-y: scroll;
  }
  header {
    background: #202529;
    color: white;
    height: 10vh;
    min-height: 100px;
    display: flex;
    align-items: center;
    width: 100%;
  }
  .dlogout{
    margin-top: 10%;
display: flex;
justify-content: center;
  }
  .github-logo {
    fill: white;
    margin: 0 0.5em 0 0.5em;
  }
  
  header nav:nth-of-type(1) {
    width: 45%;
  }
  
  header ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  header ul li {
    display: inline-block;
    cursor: pointer;
  }
  
  header ul li:hover {
    color: #C7C8C9;
  }
  
  header form {
    display: flex;
    width: 30%;
    justify-content: flex-end;
  }
  
  header input {
    font-size: 0.9em;
    padding: 0.5em;
    border: none;
    background: #3C4044;
    border-radius: 7px;
  }
  
  header nav:nth-of-type(2) {
    width: 20%;
  }
  
  .login-signup-nav ul {
    justify-content: flex-end;
  }
  
  .login-signup-nav ul li:nth-of-type(2) {
    margin: 0 0.5em 0 0.5em;
    color: #C7C8C9;
  }
  
  .dektop-profile {
    display: flex;
    opacity: 0.95;
  }
  
  .dektop-profile aside {
    width: 40%;
    display: inline-block;
    padding: 1em;
  }
  aside h3{
    text-align: center;
    margin: 10px;
  }
  aside h4{
    text-align: center;
  }
  aside img {
    width: 100%;
    height: 38%;
    padding: 0.23em;
    border-radius: 22px;
    /* margin: 0 auto; */
    display: block;
  margin-left: auto;
  margin-right: auto;
  }
  
  .desk-mainsec {
    width: 80vw;
    display: inline-block;
    /* height: 70vh;
overflow: scroll; */
  }
  
  .grey-text {
    color: #655F5C;
  }
  
  .username {
    font-weight: normal;
  }
  
  .bio {
    padding-top: 0em;
    padding-bottom: 0em;
    margin-bottom:0em;
  }
  
  .repo-nav {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    /* background-color: #202529; */
  }
  
  .repo-nav li {
    cursor: pointer;
    display: inline-block;
    padding: 1em;
    /* padding-left: 100px;
    padding-right: 100px; */
    /* border-bottom: 2px solid #CBCFD5; */
	 /* border-bottom: 3px solid #8a84ff; */

  }
  
  .repo-nav li:hover {
    /* border-bottom-width: 3px; */
    color: #e1e1e7;
	 border-bottom: 3px solid #8a84ff;
	 background: linear-gradient(to bottom, rgba(127, 199, 231, 0) 0%, rgba(207, 204, 255, 0.2) 44%, rgba(211, 226, 255, 0.4) 100%);
  }
  
  .repo-nav .is-active{
    /* border-bottom: 3px solid #DF570C; */
    /* margin-left: 1em; */
    color: #e1e1e7;
	 border-bottom: 3px solid #8a84ff;
	 background: linear-gradient(to bottom, rgba(127, 199, 231, 0) 0%, rgba(207, 204, 255, 0.2) 44%, rgba(211, 226, 255, 0.4) 100%);
  }
  .repo-nav button{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  }
  .repos-title {
    font-weight: normal;
    margin: 1em;
  }
  .desktopProfile-section{
    height: 100%;
    height: 70vh;
overflow: scroll;
  }
  .repositories {
    /* display: inline-table; */
    flex-wrap: wrap;
    margin: 1em;
    width: 100%;
    height: 100%;
    height: 55vh;
overflow-y: scroll;
  }
  
  /* .repositories .pinned-repo-wrapper:nth-of-type(1n) {
    margin-right: 0.5em;
  }
  
  .repositories .pinned-repo-wrapper:nth-of-type(2n) {
    margin-left: 0.5em;
  } */
  
  .pinned-repo-wrapper {
    width: 45%;
    margin-bottom: 0.5em;
    margin-left: 0.5em;
    height: 30%;
    height: fit-content;
  }
  
  .pinned-repo {
    border: 2px solid #CBCFD5;
    padding: 1em;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .pinned-repo h3 {
    color: #035CD0;
  }
  
  .pinned-repo p {
    margin-top: 1em;
    margin-bottom: 1em;
    overflow-wrap: break-word;
  }
  
  .stats {
    display: flex;
    align-self: baseline;
  }
  
  .stats li {
    display: flex;
    align-items: center;
  }
  
  .icon {
    display: inline-block;
    margin: 0.5em;
  }
  
  .seperator {
    margin: 1em 0;
  }
  
  a {
    color: #035CD0;
    text-decoration: none;
  }

  .repositories img{
    display: block;
margin-left: auto;
margin-right: auto;
  }

.card[data-state="#contact"] {
    height: fit-content;
 }

.card-contact-wrapper {
  margin-top: 20px;
}
.card-contact {
  display: flex;
  align-items: center;
  font-size: 13px;
  color: #6f6f7b;
  font-family: "DM Sans", sans-serif;
  line-height: 1.6;
  cursor: pointer;
}

.card-contact + .card-contact {
  margin-top: 16px;
}
.card-contact svg {
 flex-shrink: 0;
   width: 36px;
   height: 34px;
   margin-right: 12px;
   transition: 0.3s;
   padding-right: 12px;
   border-right: 1px solid #dfe2ec;
}
.contact-me {
  border: 0;
  outline: none;
  background: linear-gradient(to right, rgba(83, 200, 239, 0.8) 0%, rgba(81, 106, 204, 0.8) 96%);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
  color: #fff;
  padding: 12px 16px;
  width: 100%;
  border-radius: 5px;
  margin-top: 25px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  font-family: "Jost", sans-serif;
  transition: 0.3s;
}
.profile-qr-code {
  max-width: 100px;
  max-height: 100px;
  margin: 10px;
}

.image_wrapper {
  position: relative;
}

.image_wrapper img {
  display: block;
  object-fit: cover;
  width: 580px;
  height: auto;
}

.overlay {
  position: absolute; 
}

.otitle {
  left: 24%;
  top: 15%;
  /* padding: .5rem;
  margin: 4px;
  background: #f4208f; */
}
.otitle p{
  font-family: 'Times New Roman', serif;
  color: #828282;
  /* font-weight: 200; */
  /* font-weight: bold; */
}
.oDate{
  left: 52%;
  top: 15%;
}
.oDate p{
  font-family: 'Times New Roman', serif;
  color: #828282;
  /* font-weight: 200; */
  /* font-weight: bold; */
}
.oTime {
  left: 39%;
  top: 43%;
  font-size: 0.65rem;
  /* padding: .5rem;
  margin: 4px;
  background: #f4208f; */
}
.oFrom{
  font-family: 'Times New Roman', serif;
  font-size: 1rem;
  left: 28%;
  top: 33%;
}
.oTFrom{
  font-family: 'Times New Roman', serif;
  font-size: 1.6rem;
  left: 26%;
  top: 40%;
}

.oTo{
  font-family: 'Times New Roman', serif;
  font-size: 1rem;
  left: 54%;
  top: 33%;
}
.oTTo{
  font-family: 'Times New Roman', serif;
  font-size: 1.6rem;
  left: 52%;
  top: 40%;
}

.oImage{
  left: 64%;
  top: 15%;
  width: 110px !important;
  height: 110px !important;
}
.oStatus{
  font-family: 'Times New Roman', serif;
  /* font-size: 0.8rem; */
  left: 68%;
  top: 48%;
}
.oCStatus{
  font-family: 'Times New Roman', serif;
  font-size: 1rem;
  left: 65%;
  top: 55%;
}
.oRound{
  left: 67%;
  top: 70%;
}
.teamJoin{
  /* margin-left: 15%; */
  width: fit-content;
  display: flex;
  justify-content: space-evenly;
}
.teamHead{
  margin-left: 10%;
  /* width:10px */
}
.teamJoin button{
  justify-content: space-evenly;
  background: none;
  outline: none;
  cursor: pointer;
  font-weight: 500;
  border-radius: 2px;
  padding: 5px 10px;
  color: red;
  border: 1px solid red;
  width: 100px;
}
.members{
  /* min-height: 100vh;
  width: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.cmembers{
  /* min-height: 100vh;
  width: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.members .form-field {
  flex: 2;
}
.cmembers .cform-field {
  flex: 2;
  display: grid;
  justify-content: center;
}
.members  .output {
  color: aliceblue;
  margin-left: 3rem;
  flex: 1;
}
.members  .form-field label,
.members h2 {
  margin: 0;
  font-size: 18px;
  font-weight: 500;
  color: white;
  
}

.members  input {
  height: 35px;
  width: 100%;
  padding: 7px;
  outline: none;
  border-radius: 5px;
  color: black;
  border: 1px solid rgb(220, 220, 220);
}
.cmembers  .cinput {
  height: 22px;
  width: 42%;
  padding: 7px;
  outline: none;
  border-radius: 5px;
  color: black;
  border: 1px solid rgb(220, 220, 220);
}

.members input:focus {
  border: 1px solid rgb(0, 208, 255);
}

.members .players {
  display: flex;
  justify-content: space-between;
}
/* .cmembers .cplayers {
  display: flex;
  justify-content: space-between;
} */
.members .first-division {
  display: flex;
  flex-direction: column;
  margin: 0 5px 0.5rem 0;
  width: 100%;
}
.cmembers .cfirst-division {
  /* display: flex;
  flex-direction: column; */
  margin: 22px 15px 1.5rem 0;
  width: 100%;
}
.members  button {
  background: none;
  outline: none;
  cursor: pointer;
  font-weight: 500;
  border-radius: 2px;
  padding: 5px 10px;
}
.cmembers  button {
  background: none;
  outline: none;
  cursor: pointer;
  font-weight: 500;
  border-radius: 2px;
  padding: 5px 10px;
}
.teamName{
  height: 35px;
  width: 74%;
  padding: 7px;
  outline: none;
  border-radius: 5px;
  color: black;
  border: 1px solid rgb(220, 220, 220);
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}
.members .first-division button {
  align-self: flex-start;
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
  color: rgb(0, 208, 255);
  border: 1px solid rgb(0, 208, 255);
}
.members .second-division button {
  color: red;
  border: 1px solid red;
  width: 100px;
}
.cmembers .csecond-division button {
  color: red;
  border: 1px solid red;
  width: 100px;
}
.members .jsecond-division button {
  color: red;
  border: 1px solid red;
  width: 100px;
}

.teamListcardTitle {
  text-decoration: none;
}
.teamListtitle {
  font-weight: 300;
}
.teamListrow {
  max-width: 900px;
  margin: 50px auto 0;
}
.teamListcard {
  float: left;
  padding: 0 1.7rem;
  width: 80%;
}
.teamListcard .teamListmenu-content {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.teamListcard .teamListmenu-content li {
  display: inline-block;
}
.teamListcard .teamListmenu-content a {
  color: white;
}
.teamListcard .teamListmenu-content span {
  position: absolute;
  left: 50%;
  top: 0;
  font-size: 10px;
  font-weight: 700;
  font-family: 'Open Sans';
  transform: translate(-50%, 0);
}
.teamListcard .teamListwrapper {
  background-color: #3a3737;
  position: relative;
  overflow: hidden;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.2);
}
.teamListcard .teamListdata {
  float: right;
  width: 60%;
  height: 100%;
}
.teamListcard .teamListdata .teamListcontent {
  padding: 1em;
  position: relative;
  z-index: 1;
}
.teamListcard .teamListauthor {
  font-size: 12px;
}
.teamListcard .teamListtitle {
  margin-top: 10px;
}
.teamListcard .teamListtext {
  height: 70px;
  margin: 0;
}
.teamListcard input[type='checkbox'] {
  display: none;
}
.teamListcard input[type='checkbox']:checked + .menu-content {
  transform: translateY(-60px);
}
.teamListexample-1 .content {
  background-color: white;
  box-shadow: 0 5px 30px 10px rgba(0, 0, 0, 0.3);
}
.teamListexample-1 .title a {
  color: #808080;
}
.teamListimage {
  float: left;
  width: 40%;
}
.teamListbook-image {
  width: 100%;
  display: block;
  height: 80%;
  margin-top: auto;
  margin-bottom: auto;
}

/* .my teams */




.cta {
	/* --shadowColor: 300 60% 40%; */
	display: flex;
	flex-wrap: wrap;
	background: hsl(187.1, 52.6%, 19%);
	max-width: 51rem;
	width: 100%;
	box-shadow: 0.65rem 0.65rem 0 #1b2729;
	border-radius: 0.8rem;
	overflow: hidden;
	border: 0.5rem solid;
	border-color: #733d6b;
}
.cta img {
	aspect-ratio: 3 / 2;
	object-fit: cover;
	flex: 1 1 300px;
	outline: 0.5rem solid;
}

.cta__text-column {
	padding: min(2rem, 5vw) min(2rem, 5vw) min(2.5rem, 5vw);
	flex: 1 0 50%;
}

/* .cta__text-column > * + * {
	margin: min(1.5rem, 2.5vw) 0 0 0;
} */

.cta a {
	display: inline-block;
	color: black;
	padding: 0.5rem 1rem;
	text-decoration: none;
	background: hsl(187 75% 64%);
	border-radius: 0.6rem;
	font-weight: 700;
	border: 0.35rem solid;
}



.ncard {
  display: inline-flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 10px;
	/* box-shadow: 0.65rem 0.65rem 0 #1b2729; */
  /* box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); */
  height: 40vh;
  overflow: scroll;
  box-shadow: 0.65rem 0.65rem 0 #1b2729;
	border-radius: 0.8rem;
	/* overflow: hidden; */
	border: 0.5rem solid;
	/* border-color: #733d6b; */
	border-color: rgb(65, 69, 117);
  
  width: 100%;
  margin-bottom: 10%;
}

.ncard img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 20px;
}

.ncard-contentl {
  padding: 10px;
  text-align: center;
	/* flex: 1 1 200px;
  outline: 0.5rem solid; */
  /* display: inline-flex; */
}.ncard-contentr {
  padding: 5%;
  text-align: center;
  width: inherit;
  /* display: flex; */
}

.ncard h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.ncard p {
  font-size: 16px;
  line-height: 1.5;
}

.ncard-content {
  flex: 1;
}
